body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

.header {
    background: #db2727;
    color: #fff;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
}

.header h1 {
    padding-top: 15px;
    margin: 0;
    text-align: center;
}

.header h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.layout-flex {
    margin: 0 70px 0 50px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vw + 10vh);

}

.item {
    border: 5px solid #db2727;
    border-radius: 20px;
    margin: 10px;
    width: calc(33.3% - 20px);
}

.item-text {
    width: 85%;
    float: right;
    padding: 20px 0px;
}

.item-img {
    width: 15%;
    float: left;
}

.item-img img {
    border-radius: 50%;
    height: 75px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.item-text-top {
    padding-bottom: 10px;
    margin-right: 20px;
}

.item-text-top .title {
    font-size: 25px;
}

.item-text-top .location {
    font-size: 17px;
    color: #333;
    padding-left: 10px;
}

.item-text-desc {
    margin-right: 20px;
}

.item-text-desc span {
    font-size: 20px;
}

.item-text-img {
    margin-right: 20px
}
.item-text-img img {
    max-width: 100%;
    max-height: 50vh;
    height: auto;
}